@use "../breakpoints" as *;

.app {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  background-color: rgba(2, 3, 46, 0.678);
}

.title {
  text-align: center;
  color: white;
  padding: 10px 0;

  @media (max-width: $mobile-md) {
    font-size: 14px;
  }
}

.coins-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MuiButton-text {
  @media (max-width: $mobile-md) {
    font-size: 12px !important;
  }
}

.coins-title {
  @media (max-width: $mobile-md) {
    font-size: 12px;
  }
}

.coins-account {
  @media (max-width: $mobile-md) {
    font-size: 12px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Высота контейнера на всю высоту экрана */
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.cards-title {
  padding-bottom: 5px;
}

.app-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.app-bottom {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.scroll-wrapper {
  width: 100%; /* Контейнер занимает всю ширину */
  box-sizing: border-box;
}
